.container {
  margin-top: 15%;
  padding-top: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 5px solid;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2em;
  justify-content: center;
  overflow: ;
}
.child {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  width: 300px;
  align-content: center;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(122, 1, 1, 0.562),
    rgba(97, 30, 254, 0.692)
  );
}
.child:hover {
  transition: background 3s;
  background-image: linear-gradient(
    to top,
    rgba(122, 1, 1, 0.562),
    rgba(97, 30, 254, 0.692)
  );
  animation-duration: 5s;
}
.child-10 {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  width: 300px;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.6);
  justify-content: space-evenly;
}
body {
  height: 200vh;
}
html {
  /* height: 100vh;*/
}

* {
  margin: 0;
  padding: 0;
}
.child-10 {
  flex-grow: 0;
}

.header {
  background-image: linear-gradient(
    to bottom,
    rgba(122, 1, 1, 0.562),
    rgba(97, 30, 254, 0.692)
  );
  overflow: hidden;
  width: 100%;
  height: 6em;
  display: flex;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  /*margin-top: 80px; */
  box-shadow: 0 4px 8px 0 rgba(97, 30, 254, 0.12),
    0 6px 20px 0 rgba(97, 30, 254, 0.12);
}
