.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;

  flex-direction: row;
  align-items: center;
  border: 5px solid;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
  overflow: scroll;
}
.child {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  width: 300px;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.6);
}

.child-10 {
  border: 1px solid;
  border-radius: 2px;
  height: 300px;
  width: 300px;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.6);
}
body {
  height: 100%;
}
html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}
.child-10 {
  flex-grow: 1;
}
