 /*    whole page    */

 html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Comfortaa;
}

h1 {
  font-family: Sarpanch;
  font-size: 80px;
  margin:0;
}
h2, h3, h4, h5, h6 {
  font-family: Lato;
  font-weight: 400;
}

h2 {
  margin-bottom: 70px;
  font-size: 30px;
}

h3 {
  font-size: 48px;
  margin-bottom: 16px;
  
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 900;
  color: #5900ff;
  margin-bottom: 10px;
}

p {
  color: #999;
  font-size: 17px;
  line-height: 1.7;
}

.button {
  font-family: Lato;
  font-weight: 400;
  color:white;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  letter-spacing: 1px;
  background:#5900ff;
  font-size: 16px;
}
.button:hover {
  color:#5900ff;
  background:#d1d1d1;
  transition: .3s;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-item {
  padding: 3%;
}

/*    Modal    */

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background:rgb(0 0 0 /50%);
  z-index: 1;
  display: none;
}
.overlay.show {
  display: block;
}

.modal {
  position: fixed;
  width: 332px;
  background: white;
  z-index: 2;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 5px;
  transition: .5s;
  opacity: 0;
}
.modal-close:hover {
  color: #5900ff;
  transition: .3s;
}
.modal.show {
  top: 50%;
  opacity: 1;
}

.modal-close {
  font-size: 32px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 16px;
  padding: 15px;
  cursor: pointer;
}

.modal .user {
  height: 100px;
  width:100px;
  border-radius: 50%;
  background: #5900ff;
  color: white;
  font-size: 64px;
  display:flex;
  align-items:center;
  justify-content: center;
  position: absolute;
  top: -50px;
  margin: 0 auto;
  left: 0;
  right:0;
}

.modal h4 {
  font-size: 28px;
  margin: 25px 0;
  text-align: center;
}

.modal input {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.modal textbox {
  width: 300px;
}

.modal button {
  background:#5900ff;
  color: white;
  font-size: 24px;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.modal button:hover {
  background:#d1d1d1;
  color: #5900ff;
  font-size: 24px;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 5px;
  transition: .3s;
}

/*    header    */

header {
  height: 80px;
  width: 100%;
  background: white;
  position: fixed;
  box-shadow: 0 0 5px #555;
  overflow: hidden;
  transition: .3s;
}

header.dropped {
  height: 160px;
}

.menu {
  display: none;
}

.fa-times {
  display: none;
}

.dropped .fa-bars {
  display: none;
}
.dropped .fa-times {
  display: initial;
}
.logo {
  float: left;
  font-size: 60px;
  color:#5900ff;
  line-height: 80px;
  padding-left: 15px;
}

.logo-text{
  font-family: Sarpanch;
  font-size: 32px;
  float: left;
  color:#5900ff;
  line-height: 80px;
  padding-left: 15px;
}

.menu {
  height: 80px;
  text-align: right;
  padding-right: 20px;
  line-height: 80px;
  font-size: 24px;
}
.menu:hover {
  color:#5900ff;
  transition: .3s;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

li {
  line-height: 80px;
  padding: 0 20px;
  cursor: pointer;
  transition: .3s;
}

li a {
  color: black;
  transition: .3s;
}

li:hover {
 color:#5900ff;
}

/*    main    */

main {
  height: 100vh;
  display: flex;
  background: url(assets/gaming.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-content {
  margin: auto;
  text-align: center;
  color: white;
}

.purple {
  color:#5900ff;
}
/*    sections    */



.icon {
  font-size: 64px;
  color: #5900ff;
  margin-bottom: 16px;
}

.immerse .flex-item {
  flex-basis: 50%;
  text-align: center;
}

.immerse .flex-item:first-child {
  padding: 0;
}

.immerse img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.immerse p {
  margin-bottom: 50px;
}

.separator span {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background:#5900ff;
  margin: 0 10px;
}

.location {
  text-align: center;
}

.location h3 {
  font-weight: 900;
  margin: 0 0 30px;
}

iframe {
  width: 100%;
  height: 400px;
}
/*    footer    */

footer {
  background: #333;
  color: white;
  text-align: center;
  font-size: 24px;
}

.footer-top {
  padding: 30px;
}

footer h6 {
  font-size: 24px;
  margin: 20px 0;
}

footer hr {
  border-color:#5900ff;
}

footer span {
  padding: 0 10px;
}

footer span:hover {
  color: #5900ff;
  cursor: pointer;
  transition: .3s;
}

footer input {
  width: 100%;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 16px;
}

.footer-bottom {
  height: 100px;
  line-height: 100px;
  background: #5900ff;
}

/** media queries ***/


@media screen and (max-width:768px){
  .flex-container {
    display: block;
    
  }

  .menu {
    display: block;
  }

  ul {
    justify-content: space-evenly;
  }
}